 @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


/* .azeret-mono-<uniquifier> {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/


*{
	margin: 0;
	padding: 0;
}

#header{
	height: 620px;
	background-image: url("../images/Hero-bg.png");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#header .background{

	width: 74%;
	height: 430px;


}

#header .background .image_first_div image{
	 
	
/* Group */
position: absolute;
width:  74%;
/*height: 240px;*/
left: 257.67%;
right: -257.67%;
top: 0%;
bottom: 0%;
transform: rotate(180.00deg);
	
}



#header .text-item{
/* Frame 3 */
position: static;
width: 74%;
/*height: 310px;*/
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 32px auto;
}

.first_title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 35px;
letter-spacing: 0%;
text-align: center;
margin: 0 0px;
}


.paragrap1 {
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin: 24px 0px;
}


.btm1{

width: 160px;
height: 24px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;
margin: 0px 10px;
background: #000;
color: #fff;
border-radius: 10px;

}

/****************************body*******************?*/
.section_1{
	width: 1366px;
}

.body_section{
	width: 74%;
	height: auto;
	margin: 100px auto;
	border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding-bottom: 20px;
}

.why{
	color: rgb(13, 19, 33);
	font-family: Azeret Mono;
	font-size: 22px;
	font-weight: 800;
	line-height: 37px;
	letter-spacing: 0%;
	text-align: center;
	padding: 40px 0 20px;
}

.why_p_tag{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    padding: 15px 100px;
    opacity: 0.7;
}










.card_section{
width: 80%;
display: flex;
flex-direction: inherit;
justify-content: center;
align-items: start;
margin: 30px auto;
padding: 20px;

}

.card_section_left{
	width: 50%;

}


.card_section_left .text_box{
	justify-content: flex-start;
align-items: flex-start;
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}


.card_section_left .text_box h3{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}


.card_section_left .text_box p{

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;

}


.card_section_left .text_box a{

	box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

margin: 30px 0;

	color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
display: inline-block;
    text-decoration: none;
        padding: 5px 10px;
}

 

.card_section_righr{
	display: flex;
	flex-direction: inherit;
	justify-content: end;
	align-items: start;

}


.card_section_left  .image_box{
	width: 50%;


}



.card_section_left .image_box img{ 
 width: 100%;

}























.card_section2{
width: 80%;
display: flex;
flex-direction: inherit;
justify-content: center;
align-items: start;
margin: 30px auto;
padding: 20px;

}

.card_section_left{
	width: 70%;

}


.card_section_left .text_box{
	width: 70%;
	justify-content: flex-start;
align-items: flex-start;
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}


.card_section_left .text_box h3{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}


.card_section_left .text_box p{

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;

}


.card_section_left .text_box a{

	box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

margin: 30px 0;

	color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
display: inline-block;
    text-decoration: none;
        padding: 5px 10px;
}

 

.card_section_righr{
	display: flex;
	flex-direction: inherit;
	justify-content: start;
	align-items: start;

	width: 30%

}


.card_section_righr  .image_box{
	width: 70%;


}



.card_section_righr .image_box img{ 
 width: 100%;

}


/***************************section_2*************************/
.section_2{
	width: 1366px;
}

.design_inspiration{
	width: 74%;
	height: auto;
	margin: 100px auto;
	border-radius: 16px;
	/*border: 1px solid #ccc;*/
    padding-bottom: 20px;
}


.inspiration{
	color: rgb(13, 19, 33);
	font-family: Azeret Mono;
	font-size: 22px;
	font-weight: 800;
	line-height: 37px;
	letter-spacing: 0%;
	text-align: center;
	padding: 40px 0 20px;
}

.inspiration_p_tag{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    padding: 15px 100px;
    opacity: 0.7;
}

.youtube_video{
	box-sizing: border-box;
	border: 1px solid rgba(13, 19, 33, 0.2);
	border-radius: 16px;

}

.youtube_video_div{

	height: 400px;
	padding: 20px;

}

.youtube_video_div iframe{
	width: 100%;
	height: 100%;
	border-radius: 16px;
}





.section_3{
	width: 1366px;
}

.card_box_section{}


.card_box{
width: 100%;
display: flex;
justify-content: space-between;
align-items: start;
margin: 30px auto;
padding: 20px;
gap: 30px;

}


.card{
	border-radius: 16px;
}
.card_color_1{
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
}

.card_color_2{
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
}

.card_color_3{
border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}

.card_div{

    padding: 40px;

}

.card_img{
	background: rgb(235, 235, 235);
	width: 40px;
	height: 45px;
	margin-bottom: 20px;
}
.card_img img{
	width: 100%;
}

.card_div h3{
	color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}

.card_div p{
	color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
}
.card_div a{
	display: inline-block;
    color: #000;
    font-family: Azeret Mono;
        font-size: 11px;

}



.section_4{
	width: 1366px;
}
.target{
    width: 80%;
    height: auto;
    margin: 100px auto;
    border-radius: 16px;
    /* border: 1px solid #ccc; */
    padding-bottom: 20px;
}

.target_top{}


.target_top h2{
	color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    padding: 40px 0 20px;
}


.target_top p{
	color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    padding: 15px 100px;
    opacity: 0.7;
}


.target_card_box_section{

}



.target_card_box{

	width: 100%;
    
    margin: 30px auto;
    padding: 20px;
    gap: 30px;


}


.target_card{

box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
display: flex;
justify-content: space-between;
align-items: start;
padding: 25px 0;
margin: 15px 0;


}





.target_card .card_img_div{
	width: 15%;

}



.target_card .target_card_img{
	width: 60px;
    height: 60px;
    margin: 0 auto;
    padding: 5px 0;

}


.target_card .target_card_img img{
 width: 100%;
}




.target_card .target_text{
	width: 85%;

}


.target_card .target_text h3{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}


.target_card .target_text p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
}


.target_card .target_text a{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 11px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
display: inline-block;
}


.contact_section{
width: 1366px;
}
.contact{
	width: 80%;
	background-image: url(../images/handshake.jpg);
	border-radius: 16px;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	text-align: center;
}

.contact_s{
padding: 100px 100px;
    margin-bottom: 60px;
}
.contact_top{
   
}

.contact_top h3{
	color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 25px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}

.contact_top p{
	color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 11px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}

.contact_form_div{}
.contact_form{}
.email{
	    height: 30px;
    width: 45%;
    border-radius: 8px;
}

.submit{
	color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 5px 18px;
}




.footer_section{
	border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
width: 100%;
}
.footer_parance{
	width: 80%;

	display: flex;
	justify-content: space-between;
	align-items: start;
	padding: 25px 0;
	margin: 0 auto;
}
.child1{


}

.child1 p{
	
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

.child2{
	display: flex;
	justify-content: space-between;
	align-items: start;
}
.child2_img{
	width: 20px;
	height: 20px;
	padding: 0px 10px;
}

.child2_img img{
	width: 100%;
}














